{% extends "employee_information/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card py-2">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-title mb-0 text-primary">Employee Attendance</h4>
      <form
        method="POST"
        action="{% url 'employee_information:attandance'%}"
        enctype="multipart/form-data"
      >
        {% csrf_token %}

        <label class="control-label text-primary">Start period</label>
        <input
          class="mr-3"
          type="date"
          name="start_perod"
          id="start_perod"
          value="{% if form.start_perod %}{{ form.start_perod|date:'Y-m-d' }}{% endif %}"
          required
        />
        <label class="control-label text-primary">End period</label>
        <input
          class="mr-3"
          type="date"
          name="end_perod"
          id="end_perod"
          value="{% if form.end_perod %}{{ form.end_perod|date:'Y-m-d' }}{% endif %}"
          required
        />
        <button
          class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm m-2"
        >
          Filter
        </button>
      </form>
    </div>
  </div>
</div>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <colgroup>
          <col width="5%" />
          <col width="15%" />
          <col width="20%" />
          <col width="20%" />
          <col width="20%" />
          <col width="10%" />
        </colgroup>
        <thead>
          <tr>
            <th class="text-start text-primary py-1">#</th>
            <th class="text-start text-primary py-1">Name</th>
            <th class="text-start text-primary py-1">Date</th>
            <th class="text-start text-primary py-1">Time Attendacde</th>
            <th class="text-start text-primary py-1">Time leaves</th>
            <th class="text-start text-primary py-1">Total hours</th>
          </tr>
        </thead>
        <tbody>
          <h2 style="text-align: center" class="text-primary">
            Attendacde Report
          </h2>
          <h4 style="text-align: center" class="text-primary">
            {{start_pirod}} <strong> TO </strong> {{end_pirod}}
          </h4>
          <div style="text-align: center">
            {% for employee in employees %}
            <!--add if employee.statse == 1-->

            {% if start_pirod <= employee.date and employee.date <= end_pirod %}

            <tr style=" text-align: center vertical-align: middle;">
              <td class="px-2 py-1 text-center text-primary">
                {{ employee.id }}
              </td>
              <td class="px-2 py-1 text-start text-primary">
                {{ employee.name }}
              </td>
              <td class="px-2 py-1 text-start text-primary">
                {{ employee.date }}
              </td>
              <td class="px-2 py-1 text-start text-primary">
                {{ employee.Time_attendace }}
              </td>
              <td class="px-2 py-1 text-start text-primary">
                {{ employee.time_leaves }}
              </td>
              <td class="px-2 py-1 text-start text-primary">
                {{ employee.total_time }}
              </td>
              {% endif %}
            </tr>
          </div>

          <!--endif-->

          {% endfor %}
        </tbody>
      </table>
      <div class="d-flex align-items-center">
        <a
          href="{% url 'employee_information:install_csv' %}"
          class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm m-2"
        >
          Export attandance report
        </a>
        <a
          href="{% url 'employee_information:salary_csv' %}"
          class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm m-2"
        >
          Export salary report
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %} {% endblock ScriptBlock %}
