
{% extends '_layout.html' %}

{% block title %} {{ title }} {% endblock %}



  

 <!--CONTENTS-->
 {% block content %}
        <section class="content">
            <section class="container-fluid">
            	<section class="row">
            		{% if request.user.is_superuser and request.user.is_staff %}
            		<section class="col col-lg-4">
            			<div class="employee-box sec-box">
            				<a href="">
            				<span style="font-size: 24px;">Registered Employees:  {{ employees.count }}</span>
            				</a>
            				<!-- <span class="count-object"></span>  -->
            			</div>
            		</section>
            		<section class="col col-lg-4">
            			<div class="employee-box sec-box">
            				<a href="">
            				<span style="font-size: 24px;"></span>Leaves Requested: {{ leaves.count }}</span>
            				</a>
                            <!-- <span class="count-object" style="color:#41b6d6;"></span>  -->
            			</div>
            		</section>
            		
            		{% else %}
                    <section class="col col-lg-6">
                        <div class="leave-box sec-box">
                            <a href="">
                            <span>Total Leaves: {{ staff_leaves.count }}</span>
                            </a>
                            <!-- <span class="count-object" style="color:#41b6d6;"></span>  -->
                        </div>
                    </section>
                    

                    
                    
                    {% endif %}

                    

                </section>
                
                

                


            </section> <!-- /container --> 
                     
        </section>

        
 {% endblock %}

 


{% block extrajs%}
    
    

    $(document).ready(function(){
          var get_login_user = '{{request.user.username}}'
          
          console.log(get_login_user);

          demo.initChartist();

          $.notify({
              icon: 'fa fa-user',
              message: "Welcome to LMS Django, " +get_login_user

            },{
                type: 'danger',
                timer: 4000
            });

      });

{% endblock %}